body{width: 100vw;height: 100vh;display: flex;justify-content: center;align-items: center;
     margin: 0;background-color: antiquewhite; font-family: "Red Hat Display", sans-serif;
     background-image: url(pattern-background-desktop.svg);}

.card{width: 450px;display: flex;flex-direction: column;justify-content: center;align-items: center;background-color: white;
     border-radius: 10px;}

.text{display: flex;flex-direction: column;gap: 20px ; text-align: center;padding: 40px;}

.picture{border-radius: 10px 10px 0 0 ;}

.satauri{display: flex;flex-direction: column;justify-content: center;align-items: center;padding: 10px;}

p{text-align:center ;color: #717FA6;}

.fasi{background-color: #F7F9EF;display: flex;justify-content: space-around;align-items: center;border-radius: 10px;}

.noti{display: flex;align-items: center;gap: 20px;}

.buttons{
     display: flex;
     flex-direction: column;
     gap: 30px;
     }

     .buttons a{
          text-decoration: none;
          color: #717FA6;
     }

     .buttons a:hover{
          color: black;
     }

     button{
          color: white;
          background-color: blue;
          border: none;
          border-radius: 10px;
          height: 50px;
          box-shadow: 0px 20px 21px rgba(56, 42, 255, 19%);
         }

         button:hover{
          background-color: rgb(0, 0, 139);
           cursor: pointer;
         }

         .change:hover{
          text-decoration: none;
          font-weight: bold;
         }